.root {
    display: grid;
    grid-template-columns: 4fr 7fr;
    margin-bottom: 4em;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: currentColor;
}

.root:hover{
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.root:hover .ProjectCardAction {
    color: #013A9D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.imageContainer:hover {
    cursor: pointer;
}

.imageContainer:hover img {
    opacity: 0.15;
}

.imageContainer:hover .details {
    opacity: 0.2;
}

.root:hover .ProjectCardContent {
    opacity: 1;
}

.root:hover .ProjectCardAction span {
    -webkit-transform: translateX(6px);
    -ms-transform: translateX(6px);
    transform: translateX(6px);
    opacity: 1;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    -webkit-transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
}

.ProjectCardAction {
    color: #414148;
}

.ProjectCardAction:hover {
    cursor: pointer;
}

.ProjectCardAction span {
    margin-left: 1em;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    display: inline-block;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    -webkit-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
}
.ProjectCardContent {
    background: white;
    padding-top: 3.5rem;
    position: relative;
    z-index: 2;
    opacity: 0.8;
}

.root>div>h1 {
    font-weight: 400;
    color: #013A9D;
    font-size: 3.25rem;
}

.root>div>h3 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #414148;
}

.description {
    width: 130%;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    position: relative;
    z-index: 2;
    background-color: #414148;
    color: #ffffff;
    font-size: 1.5rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    padding: 25px;
    border-radius: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tech {
    color: #414148;
}

.ProjectCardAction:hover {
    color: #013A9D;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.imageContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    opacity: 0.9;
}

.imageContainer:hover .detailLink{
    opacity: 0.6;
}

.detailLink:hover {
    background-color:#013A9D;
}

.social {
    margin-right: 2rem;
}

.social:hover svg{
    fill: #013A9D;
    transform: translateY(-5px);
}

.details {
    border: 2px solid #013A9D;
    border-radius: 3px;
    color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #013A9D;
    opacity: 0;
}

.detailLink {
    border-radius: 3px;
    color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.detailDiv {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #111010;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 200;
}

.detailDiv>button {
    color: #5393fe;
    background: transparent;
    background: #fff;
    border-color: #5393fe;
}

@media screen and (max-width: 768px) {
    .root {
        grid-template-columns: 1fr;
    }

    .description{
        width: 100%;
    }
    .ProjectCardContent {
        padding: 0.5em 3em 2em 0em;
    }

    .root>div>h1{
        font-size: 2.5rem;
    }
}