html {
    scroll-behavior: smooth;
}

.list {
    display: inline;
    margin: 1em;
    text-align: center;
}

.cardButtonActive {
    background: #013A9D;
    color:#ffffff;
  }

button {
    border: 1.5px solid #013A9D;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    color: #013A9D;
    display: inline;
    background: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

button:hover {
    background: #013A9D;
    cursor: pointer;
    color: #ffffff;
}

.email {
    border: 2px solid #013A9D;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    color: #013A9D;
}

.email:hover {
    background:#f9f9f9;
}

.emailContainer {
    width: 112px;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.emailContainer:hover {
    transform: translateY(-5px);
}

.email>span {
    color: #013A9D;
}

.introSub {
    font-size: 3.6em;
    opacity: 0.5;
}

.introDetail {
    color: #414148;
    margin-top: 2rem;
    font-size: 1.25em;
}


.headTitle {
    font-size: 4rem;
    margin-left: 2rem;
}

.headLine {
    content: "";
    display: block;
    height: 1px;
    width: 30vw;
    background-color:#414148;
    position: relative;
    top: -5px;
    margin-left: 20px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    font-size: 32px;
    margin: 10px 0px 40px;
}

.subLine {
    margin-left: 5.5em;
    margin-top: -0.99em;
}

.subNumber {
    color: #013A9D;
    font-size: 3rem;
}

.subNumberNav {
    color: #013A9D;
    font-size: 1.5rem;
}

.profileDiv {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
}

.textArea {
    margin: 4rem;
    width: 60%;
    max-width: 550px;
    line-height: 1.5em;
    font-size: 1.1em;
}

.profileArea {
    position: relative;
    width: 40%;
    max-width: 300px;
    margin: 4em;
}

.profileArea:hover .profileImg {
    opacity: 1;
}

.profileArea:hover .profileImageContainer{
    transform: translateY(-40px) translateX(-40px);
}

.profileImg {
    height:288px;
    width:250px;
    opacity: 0.8;
    border-radius: 5px;
}

.profileImageContainer {
    height: 288px;
    width: 250px;
    position: absolute;
    z-index: -1;
    top: 0;
    opacity: 0.25;
    border-radius: 5px;
    top: 20px;
    left: 20px;
    background-color: #013A9D;
    opacity: 0.3;
    border-image: initial;
}

.techList {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    overflow: hidden;
    padding: 0px;
    margin: 20px 0px 0px;
    list-style: none;
}

.techList>li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 20px;
    position: relative;
}

.techList>li>span{
    color: #013A9D;
    position: absolute;
    left:0;
}

.textLink {
    color: #013A9D;
}

.textLink:hover {
    border-bottom: 1px solid #013A9D;
}


.navbar {
    position: sticky;
    top: 0;
    transition: top 0.6s;
    z-index: 100;
    background-color: white;
  }
  
  .navbar--hidden {
    top: -50px;
  }

@media screen and (max-width:768px) {
    .profileDiv {
        display: block;
        padding-right: 2em;
    }
    .textArea{
        width: 100%;
        margin: 2rem;
        font-size: 1em;
    }
    .headTitle {
        margin-left: 0;
    }
    .profileArea {
        margin: 1em;
    }

    .introSub {
        font-size: 3.5em;
    }

}

@media screen and (max-width:450px){
    .headTitle {
        font-size: 2rem;
    }
    .subLine {
     margin-left: 3em;
     margin-top: -0.78em;
     width: 45vw;
    }
    .subNumber {
        font-size: 1.5rem;
    }
    .subNumberNav {
        font-size: 1rem;
    }
    .introSub {
        font-size: 2em;
    }
    .emailContainer {
        width: 130px;
    }
}